<div class="container">
  <div style="text-align: right">
    <button type="button" data-backdrop="static" class="btn btn-info" data-toggle="modal"
            data-target="#AddTransaction">
      <span class="glyphicon glyphicon-plus-sign"></span> New
    </button>
  </div>
  <div class="modal fade" id="AddTransaction" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="clear()" type="button" class="close" data-dismiss="modal"><span
            class="glyphicon glyphicon-remove-circle"></span></button>
          <h4>Add Transaction</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="type">Type</label>
            <input ngui-auto-complete [accept-user-input]="true" [source]="types" id="type" class="form-control"
                   [(ngModel)]="type" required/>
            <p class="message" [hidden]=hideTypeMessage>Type must not be empty!</p>
          </div>
          <div>
            <div class="form-group" style="display: inline-block">
              <label for="amount">Amount</label>
              <input class="form-control" id="amount" currencyMask [(ngModel)]="amount"
                     [options]="{ prefix: currency, allowNegatives: false}" required/>
              <p class="message" [hidden]=hideAmountMessage>Amount must be greater than zero!</p>
            </div>
            <div class="form-group" style="display: inline-block; float: right">
              <label for="date">Date</label>
              <input id="date" class="form-control picker-input" [value]="date | date: 'dd-MM-yyyy HH:mm:ss'"
                     [(ngModel)]="date" dateTimePicker readonly required>
              <p class="message" [hidden]=hideDateMessage>Date is invalid!</p>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="3" style="resize: none" class="form-control" id="description" name="description"
                      [(ngModel)]="description"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="submit()">Add Transaction</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="container">
  <ngx-datatable
    #myTable
    class="material expandable"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="5"
    [selected]="selected"
    [selectionType]="'none'">
    <ngx-datatable-row-detail [rowHeight]="100">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:35px;">
          <div>{{row.description}}</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column [width]="50">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="#"
           [class.datatable-icon-right]="!expanded"
           [class.datatable-icon-down]="expanded"
           title="Expand/Collapse Row"
           (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [resizeable]="false">
      <ng-template let-column="column" let-sort="type" ngx-datatable-header-template>
        Type
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.type}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        Amount
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.amount | currency: 'EUR':true:'1.2'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        Date
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.date | date: 'dd-MM-yyyy'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="glyphicon glyphicon-plus" data-backdrop="static" data-toggle="modal"
              data-target="#ViewTransaction" style="color: cornflowerblue;"></span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<div class="modal fade" id="ViewTransaction" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
          class="glyphicon glyphicon-remove-circle"></span></button>
        <h4>View Transaction</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="delType">Type:</label>
          <input id="delType" class="form-control" value="{{selected[0].type}}" readonly/>
          <label for="delAmount">Amount:</label>
          <input id="delAmount" class="form-control" value="{{selected[0].amount | currency: 'EUR':true:'1.2'}}"
                 readonly/>
          <label for="delDate">Date:</label>
          <input id="delDate" class="form-control" value="{{selected[0].date | date: 'dd-MM-yyyy HH:mm'}}" readonly/>
          <label for="delDesc">Description:</label>
          <textarea class="form-control" id="delDesc" rows="3" style="resize: none"
                    readonly>{{selected[0].description}}</textarea>
        </div>
        <div class="container">
          <!--button class="btn btn-info" id="edit" data-dismiss="modal">
            Edit
          </button-->
          <button class="btn btn-danger" id="delete" data-dismiss="modal">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
